.RunPage {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: fixed;
}

.RunPage .screen-container {
  text-align: center;
}


.touchControls-startButton {
	background: red;
	width: 100px;
	height: 50px;
	position: fixed;
	bottom: 2%;
	left: 60%;
	line-height: 50px;
	text-align: center;
}