.RunPage {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: fixed;
}

.RunPage .screen-container {
  text-align: center;
}


.touchControl {
  background: red;
  position: fixed;
  line-height: 50px;
  text-align: center;
}

.touchControl-start {
  width: 100px;
  height: 50px;
  top: 2%;
  right: 2%;
}

.touchControl-select {
  width: 100px;
  height: 50px;
  top: 2%;
  left: 2%;
}

.touchControl-a {
  width: 50px;
  height: 50px;
  bottom: 5%;
  right: 2%;
}

.touchControl-b {
  width: 50px;
  height: 50px;
  bottom: 5%;
  right: 10%;
}

.touchControls-dPad {
  position: fixed;
  left: 2%;
  bottom: 2%;
  width: 150px;
  height: 150px;
}

.touchControls-dPad-wrapper {
  position: relative;
}

.touchControl-up {
  width:50px;
  height:50px;
  position: absolute;
  top: 0;
  left: 50px;
}
.touchControl-down {
  width:50px;
  height:50px;
  position: absolute;
  top: 100px;
  left: 50px;
}
.touchControl-left {
  width:50px;
  height:50px;
  position: absolute;
  top: 50px;
  left: 0;
}
.touchControl-right {
  width:50px;
  height:50px;
  position: absolute;
  top: 50px;
  left: 100px;
}